* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 20px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), /* Aici controlezi nivelul de întunecare cu alfa, unde 0.5 este semitransparent */
        rgba(0, 0, 0, 0.5)
    ), url('https://img.freepik.com/free-photo/digital-art-moon-wallpaper_23-2150918875.jpg?t=st=1708447082~exp=1708450682~hmac=0dadfb2bc82937cf326e9df611fa3a31a799fd99247afd7b38f39f5aeea92307&w=2000');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    display: flex;
    flex-direction: column; /* Schimbă direcția flex pentru a permite alinierea verticală */
    align-items: center; /* Acesta va centra conținutul pe orizontală */
}

.sticky-background {
    background-color: #f0f0f0; /* sau orice culoare preferi */
    color: black;
    transition: 0.5s;
    padding: 14px 16px;
}

header nav .fas {
    color: white;
    padding-right: 14px;
    margin-right: 24px;

}
.sticky-header {
    padding: 0;
}

.sticky-link {
    color: black;
    font-weight: bold;

}

.sticky-link:hover { 
    color: white;
}

header nav {
    width: 100%;
    display: flex;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 1000;
}

header nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.2s;
}

header nav .sign-button {
    margin: 5px;
    color: white;
}

header nav .sign-button span {
    margin: 10px 20px;
}

header nav .sign-button a {
    border: 2px solid #3f36ea;
    padding: 14px 16px;
}

.sticky-a {
    color: black;
    font-weight: bold;
}

.sticky-span {
    color: black;
    font-weight: bold;
}

.sticky-a:hover {
    color: white;

}

header nav a:hover {
    background-color: #3f36ea;
    padding: 24px;
}

header #displaysign {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 100px;
    width: 50%; /* Setează lățimea dorită */
    height: 50%; /* Setează înălțimea dorită */
    position: absolute;
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


header #h-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    color: white;
    text-shadow: 2px 2px 4px #000;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

header #h-elements h3 {
    overflow: hidden; /* Ascunde literele care "intră" în container */
    border-right: .15em solid orange; /* Adaugă efectul de cursor */
    white-space: nowrap; /* Asigură-te că toate literele sunt pe aceeași linie */
    letter-spacing: .15em; /* Ajustează spațiul dintre litere */
    margin: 0;
    animation: 
      typing 3.5s steps(40, end), /* 40 = Numărul de pași (litere) */
      blink-caret .75s step-end infinite;
  }
  
  /* Animații keyframes pentru efectul de scriere */
  @keyframes typing {
    from { width: 0 }
    to { width: 500px }
  }
  
  /* Animații keyframes pentru efectul de blink a cursorului */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

header #h-elements p {
    font-size: 15px;
}

header #h-elements #typed-text {
        border-right: 2px solid black; /* Simulează cursorul de tastare */
        font-family: monospace; /* Font stil mașină de scris */
        white-space: nowrap; /* Asigură că textul rămâne pe o singură linie */
        overflow: hidden; /* Ascunde textul care depășește lățimea elementului */
        width: 31ch; /* Lățimea elementului bazată pe numărul de caractere */
        animation: blink 1s infinite step-end; /* Animație pentru efectul de blink a cursorului */
        margin-top: 15px;
    }
    
    @keyframes blink {
        50% { border-color: transparent; }
    }

header #h-elements a {
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: #fff;
    background-color: #645bff;
    padding: 1em 1.8em;
    font-size: 15px;
    text-shadow: none;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
    position: relative;
    top: 100px;
    scroll-behavior: smooth;
}

header #h-elements a:hover {
    background-color: #3f36ea;
} 


.new-container {
    width: 100vw;
    height: 100vh;
}


#flex-container {
    background-color: red;
    width: 100vw;
    height: 100vh;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    gap: 10px 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex-item {
    background-color: #fff;
    width: 300px;
    height: 300px;
}

.item-1 {
    font-weight: bold;
    padding: 5px;
}

.item-1 span {
    display: flex;
    font-weight: normal;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.item-2 {
    font-weight: bold;
    padding: 5px;
}

.item-2 span {
    display: flex;
    font-weight: normal;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.item-3 {
    font-weight: bold;
    padding: 5px;
}

.item-3 span {
    display: flex;
    font-weight: normal;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100vw;
    height: 30vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

footer h3 {
    color: white;
}

footer nav {
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
}

footer nav a {
    color: white;
    margin: 12px 5px;
}

footer p {
    color: white;
    position: relative;
    bottom: 15px;
}



@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    header nav {
        display: none;
    }

    header #h-elements h3 {
        font-size: 20px;
        overflow: hidden; /* Ascunde literele care "intră" în container */
        border-right: .15em solid orange; /* Adaugă efectul de cursor */
        white-space: nowrap; /* Asigură-te că toate literele sunt pe aceeași linie */
        letter-spacing: .15em; /* Ajustează spațiul dintre litere */
        margin: 0;
        animation: 
          typing 3.5s steps(40, end), /* 40 = Numărul de pași (litere) */
          blink-caret .75s step-end infinite;
    }
    
    /* Animații keyframes pentru efectul de scriere */
    @keyframes typing {
        from { width: 0 }
        to { width: 500px } /* Lățimea standard pentru ecrane mari */
    }
    
    /* Animații keyframes pentru efectul de blink a cursorului */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
    }
    
    /* Media Query pentru ecranele mai mici (dispozitive mobile) */
    @media screen and (max-width: 600px) {
        header #h-elements h3 {
            /* Ajustează lățimea pentru ecranele mobile */
            @keyframes typing {
                from { width: 0 }
                to { width: 250px } /* O lățime mai mică pentru ecrane mobile */
            }
        }
    }
    
}
